@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);  
  margin: 16px 24px 16px 0;
  float: left;
  margin-left: 16px;
}

.cf-main-menu {
  float: left;
  line-height: 64px;
}

.cf-namespaces {
  float: right;
  ul {
    line-height: 64px;
  }
}

.cf-header-namespace-dropdow {
  color: hsla(0,0%,100%,.65);
}